@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root{
  --primary-white:#fff;
  --off-white:#f8f8ff;
  --newtext:#950740;
  --grey:#4e4e50;
  --primary-red:#c3073f;
  --primary-nojump: rgba(255,255,255,0);
}

body{
  font-family: 'Montserrat', sans-serif;
}


/*********************Navbar*****************************/
.navbar{
  background-color: #1a1a1d
}
.logo{
  width:7rem;
}
nav a.nav-link{
 
  letter-spacing: 0.0375rem;
  cursor: pointer;
}
nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--newtext) !important;
  border-top: 0.1875rem solid var(--primary-nojump);
}
.navbar-brand{
  max-width: 17.25rem;
  padding: 0 i !important;
  height: 6rem im !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a.active:focus{
  border-top: 0.1875rem solid var(--primary-red);

}

.navbar-nav > li >a:hover{
  border-top: 0.1875rem solid var(--primary-red);
}